@font-face {
  font-family: "Old Style Bold";
  src: url(../fonts/old-style/RenaultLifeOldStyle-Bold.eot);
  src: url(../fonts/old-style/RenaultLifeOldStyle-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/old-style/RenaultLifeOldStyle-Bold.woff) format("woff"), url(../fonts/old-style/RenaultLifeOldStyle-Bold.ttf) format("truetype"), url(../fonts/old-style/RenaultLifeOldStyle-Bold.svg#RenaultLifeOldStyle-Bold) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Regular";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Regular.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Regular.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Regular.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Regular.svg#RenaultLifeCy) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Bold";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Bold.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Bold.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Bold.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Bold.svg#RenaultLifeCyWebWeb-Bold) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Bold Italic";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-BoldItalic.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-BoldItalic.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-BoldItalic.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-BoldItalic.svg#RenaultLifeCyWebWeb-BoldItalic) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Italic";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Italic.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Italic.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Italic.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Italic.svg#RenaultLifeCyWebWeb-Italic) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Light";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.svg#RenaultLifeCyWebWeb-Light) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Condensed;
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-Light.svg#RenaultLifeCyWebWeb-Light) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Renault Light Italic";
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-LightItalic.eot);
  src: url(../fonts/cyrillic/RenaultLifeCyWebWeb-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-LightItalic.woff) format("woff"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-LightItalic.ttf) format("truetype"), url(../fonts/cyrillic/RenaultLifeCyWebWeb-LightItalic.svg#RenaultLife-LightItalic) format("svg");
  font-weight: 400;
  font-style: normal
}